<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentMapper">
    <resultMap id="pingLun" type="lmc.model.Comment">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="pubdate" property="pubDate"/>
        <result column="ipaddress" property="ipAddress"/>
        <result column="hidden" property="hidden"/>
        <result column="likenum" property="likeNum"/>
        <result column="dislikenum" property="disLikeNum"/>
        <result column="rid" property="replyId"/>

        <association property="replyFor" javaType="lmc.model.Comment">
            <result column="reply_for_id" property="id"/>
        </association>
        <association property="news" javaType="lmc.model.News">
            <result column="news_id" property="id"/>
        </association>
        <association property="creator" javaType="lmc.model.User">
            <result column="creator" property="id"/>
            <result column="nickname" property="nickname"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>

    <!--addComment()()-->
    <insert id="addComment">
        insert into comment(content,pubdate,ipaddress,hidden,likenum,dislikenum,reply_for_id,creator,news_id) values (#{content},#{pubdate},#{ipaddress},#{hidden},#{likenum},#{dislikenum},#{reply_for_id},#{creator},#{news_id})
    </insert>
    <!--List<Comment> getCommentsByNewsId-->
    <select id="getCommentsByNewsId" resultMap="pingLun">
        select c.*, r.id as rid, u.nickname, u.photo
        from `comment` as c
            left join `comment` as r on r.reply_for_id = c.id
            left join `user` as u on c.creator=u.id
        where c.news_id=#{newsId} and c.hidden=false
    </select>
    <!--int updateLikeNum-->
    <update id="updateLikeNum">
        update comment set likenum=#{likenum} where id=#{commentId}
    </update>
    <!--int updateDislikeNum-->
    <update id="updateDislikeNum">
        update comment set dislikeNum=#{dislikenum} where id=#{commentId}
    </update>

    <select id="selectLikeNum" resultType="int">
        select likenum from comment where id=#{commentId}
    </select>
    <select id="selectDisLikeNum" resultType="int">
        select dislikenum from comment where id=#{commentId}
    </select>
</mapper>